<section class="faq-screen">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <h2>
            Часто задаваемые
            вопросы
          </h2>
        </div>
        <div class="faq-screen__drop">
            <div class="faq-screen__head active">
              Как снять недорогое общежитие для рабочих в Москве
            </div>
            <div class="faq-screen__toggle faq-screen__toggle_active">
              Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
              обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
              Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
              на сайте.
            </div>
            <div class="faq-screen__head">
              Основные отличия хостелов от гостиниц
            </div>
            <div class="faq-screen__toggle ">
              Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
              обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
              Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
              на сайте.
            </div>
            <div class="faq-screen__head">
              Достоинства нашей сети общежитий для рабочих
            </div>
            <div class="faq-screen__toggle ">
              Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
              обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
              Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
              на сайте.
            </div>
            <div class="faq-screen__head">
              Дополнительные услуги в наших хостелах
            </div>
            <div class="faq-screen__toggle ">
              Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
              обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
              Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
              на сайте.
            </div>
            <div class="faq-screen__head">
              Преимущества отдыха в хостеле
            </div>
            <div class="faq-screen__toggle ">
              Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
              обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
              Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
              на сайте.
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
