<section class="first-screen">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="first-screen__text">
          <div class="title title__first-screen">
            <h2>
              Каждому
              клиенту
            </h2>
          </div>
          <p>
            <strong>Стаханов</strong> предлагает снять общежитие <br>
            для рабочих в Москве по доступной цене.
          </p>
          <p>
            Услуга востребована среди тех, кто
            пребывает в столице в командировке, <br>
            а также будет выгодна для руководителей
            организаций, желающих разместить своих
            рабочих в достойных условиях.
          </p>
          <p>
            Жилье можно забронировать в одном <br>
            из общежитий нашей сети во <strong>Внуково,
            Наро-Фоминске, Селятино, Подольске,
            Одинцово, Чехов</strong>
          </p>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="first-screen__masonry">
          <div class="first-screen__block">
            {{mixins.icon('tv')}}
            <p>
              TV в каждой <br>
              комнате
            </p>
          </div>
          <div class="first-screen__block">
            {{mixins.icon('wifi')}}
            <p>
              Бесплатный Wi-Fi <br>
              на всей территории <br>
              общежития
            </p>
          </div>
          <div class="first-screen__block">
            {{mixins.icon('gps')}}
            <p>
              Бесплатная <br>
              регистрация в ФМС
            </p>
          </div>
          <div class="first-screen__block">
            {{mixins.icon('police-badge')}}
            <p>
              Охрана полицией
            </p>
          </div>
          <div class="first-screen__block">
            {{mixins.icon('sofa')}}
            <p>
              Мебель IKEA <br>
              в каждом номере
            </p>
          </div>
          <div class="first-screen__block">
            {{mixins.icon('paint-roller')}}
            <p>
              Евроремонт
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
