<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-md-1 order-2">
        <div class="footer__contacts">
          <div class="title">
            <h2>
              Контакты
            </h2>
          </div>
          <p>
            <a href="tel:+88007077168">
              8 (800) 707-71-68
            </a>
              <strong>
                (по России бесплатно)
              </strong>
          </p>
          <p>
            <a href="tel:+84994994202">
              8 (499) 499-42-02
            </a>
            <a href="#" class="modal_open">
              <strong>
                Заказать звонок
              </strong>
            </a>
          </p>
          <ul>
            <li>
              <a href="#">
                Внуково
                <strong>
                  vnukovo@modern-hostel.com
                </strong>
              </a>
            </li>
            <li>
              <a href="#">
                Наро-Фоминск
                <strong>
                  naro-fominsk@modern-hostel.com
                </strong>
              </a>
            </li>
            <li>
              <a href="#">
                Селятино
                <strong>
                  selyatino@modern-hostel.com
                </strong>
              </a>
            </li>
            <li>
              <a href="#">
                Подольск
                <strong>
                  podolsk@modern-hostel.com
                </strong>
              </a>
            </li>
            <li>
              <a href="#">
                Одинцово
                <strong>
                  odintsovo@modern-hostel.com
                </strong>
              </a>
            </li>
            <li>
              <a href="#">
                Чехов
                <strong>
                  chehov@modern-hostel.com
                </strong>
              </a>
            </li>
          </ul>
          <div class="button button__footer">
            <a href="#" class="modal_open">
              Оставить заявку
            </a>
          </div>
          <div class="social">
            <a href="https://vk.com/modern_hostel" target="_blank">
              {{mixins.icon('vk-logo')}}
            </a>
            <a href="https://ok.ru/feed" target="_blank">
              {{mixins.icon('facebook-logo')}}
            </a>
            <a href="https://twitter.com/modern_hostel" target="_blank">
              {{mixins.icon('twitter-logo')}}
            </a>
            <a href="https://www.instagram.com/modern_hostel" target="_blank">
              {{mixins.icon('instagram-logo')}}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-8 order-md-2 order-1">
        <div id="map">

        </div>
      </div>
    </div>
  </div>
</footer>
