<div class="main-nav">
  <div class="main-nav__wrapper">
    <div class="container">
      <div class="main-nav__content">

        <div class="logo">
          <a href="index.html">
            <img src="img/logo.svg" alt="">
          </a>
        </div>

        <div class="drp-btn" id="nav">
            <div class="line" >
            </div>
            <ul class="drp-btn__menu">
              <li>
                <a href="vnukovo.html">
                  Внуково
                </a>
              </li>
              <li>
                <a href="#">
                Наро-Фоминск
                </a>
              </li>
              <li>
                <a href="#">
                Селятино
                </a>
              </li>
              <li>
                <a href="#">
                Подольск
                </a>
              </li>
              <li>
                <a href="#">
                Одинцово
                </a>
              </li>
              <li>
                <a href="#">
                Чехов
                </a>
              </li>
              <li class="main-nav__adaptive">
                <a href="blog.html">
                  Блог
                </a>
              </li>
              <li class="main-nav__adaptive">
                <a href="contacts.html">
                  Контакты
                </a>
              </li>
              <li class="main-nav__adaptive_tel ">
                <a href="#" class="modal_open">
                  Заказать дзвонок
                </a>
              </li>
            </ul>
        </div>

        <nav class="main-nav__nav">
          <ul>
            <li>
              <a href="blog.html">
                Блог
              </a>
            </li>
            <li>
              <a href="contacts.html">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
        <div class="main-nav__contacts">
          <ul>
            <li>
              <a href="tel:88007077168">
                8 (800) 707-71-68

              </a>
              <p>
                <strong>
                  (по России бесплатно)
                </strong>
              </p>
            </li>
            <li>
              <a href="tel:+84994994202" >
                8 (499) 499-42-02
              </a>
              <a href="#"class="modal_open">
              <strong>
                Заказать звонок
              </strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
