<section class="slider-screen">
  <div class="container">
    <div class="title title__slider-screen">
      <h2>
        Общежития
      </h2>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div class="slider-screen__info">

          <p>
            <strong>
              45 000+
            </strong>
            человек остановились у нас!
          </p>
          <p>
            <strong>
              100+
            </strong>
            компаний разместили у нас
            свой персонал!
          </p>
        </div>
        <div class="slider-screen__partners">
          <div class="slider-screen__partners_title">
            <h3>Наши партнеры</h3>
          </div>
          <div class="slider-screen__partners_wrapper">
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div> <div class="slider-screen__slide">
            <a href="#">
              <img src="img/partner1.jpg" alt="">
            </a>
          </div>
            <div class="slider-screen__slide">
              <a href="#">
                <img src="img/partner1.jpg" alt="">
              </a>
            </div>

          </div>

        </div>
      </div>
      <div class="col-xl-8">
        <div class="slider-screen__tabs_nav">
          <div class="tab" data-slide="1">Внуково</div>
          <div class="tab" data-slide="1">Наро-Фоминск</div>
          <div class="tab" data-slide="1">Селятино</div>
          <div class="tab" data-slide="1">Подольск</div>
          <div class="tab" data-slide="1">Одинцово</div>
          <div class="tab" data-slide="1">Чехов</div>
        </div>
        <div class="slider-screen__tabs_content">
          <div class="tab_item">
            <div class="slider-for">
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-1.jpg">
                  <img src="img/hotell-1.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-3.jpg">
                  <img src="img/hotell-3.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="slider-nav">
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-2.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-3.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
            </div>
            <h3>
              Общежитие Внуково
            </h3>
            <div class="tab_item__wrapper">
              <div class="tab_item__progress">
                <p>Занятых
                  номеров</p>
                <progress value="50" max="100"></progress>
                <p>
                  Свободных
                  номеров
                </p>

              </div>
              <div class="tab_item__price">
                <p>
                  От <strong>207</strong>
                  рублей в сутки!
                </p>
              </div>
            </div>
            <div class="tab_item__info">
              <p>
                Москва, Подольский район, деревня Девятское
                ул. Подмосковная 2А
              </p>
              <a href="tel:+78007077168">
                +7 (800) 707 - 71 - 68
              </a>
              <a href="tel:+74994994202">
                +7 (499) 499 - 42 - 02
              </a>
              <a href="mailto:podolsk@modern-hostel.com">
                podolsk@modern-hostel.com
              </a>
            </div>
          </div>
          <div class="tab_item">
            <div class="slider-for">
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-1.jpg">
                  <img src="img/hotell-1.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-3.jpg">
                  <img src="img/hotell-3.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="slider-nav">
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-2.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-3.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
            </div>
            <h3>
              Общежитие Наро-Фоминск
            </h3>
            <div class="tab_item__wrapper">
              <div class="tab_item__progress">
                <p>Занятых
                  номеров</p>
                <progress value="50" max="100"></progress>
                <p>
                  Свободных
                  номеров
                </p>

              </div>
              <div class="tab_item__price">
                <p>
                  От <strong>207</strong>
                  рублей в сутки!
                </p>
              </div>
            </div>
            <div class="tab_item__info">
              <p>
                Москва, Подольский район, деревня Девятское
                ул. Подмосковная 2А
              </p>
              <a href="tel:+78007077168">
                +7 (800) 707 - 71 - 68
              </a>
              <a href="tel:+74994994202">
                +7 (499) 499 - 42 - 02
              </a>
              <a href="mailto:podolsk@modern-hostel.com">
                podolsk@modern-hostel.com
              </a>
            </div>
          </div>
          <div class="tab_item">
            <div class="slider-for">
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-1.jpg">
                  <img src="img/hotell-1.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-3.jpg">
                  <img src="img/hotell-3.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="slider-nav">
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-2.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-3.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
            </div>
            <h3>
              Общежитие Селятино
            </h3>
            <div class="tab_item__wrapper">
              <div class="tab_item__progress">
                <p>Занятых
                  номеров</p>
                <progress value="50" max="100"></progress>
                <p>
                  Свободных
                  номеров
                </p>

              </div>
              <div class="tab_item__price">
                <p>
                  От <strong>207</strong>
                  рублей в сутки!
                </p>
              </div>
            </div>
            <div class="tab_item__info">
              <p>
                Москва, Подольский район, деревня Девятское
                ул. Подмосковная 2А
              </p>
              <a href="tel:+78007077168">
                +7 (800) 707 - 71 - 68
              </a>
              <a href="tel:+74994994202">
                +7 (499) 499 - 42 - 02
              </a>
              <a href="mailto:podolsk@modern-hostel.com">
                podolsk@modern-hostel.com
              </a>
            </div>
          </div>
          <div class="tab_item">
            <div class="slider-for">
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-1.jpg">
                  <img src="img/hotell-1.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-3.jpg">
                  <img src="img/hotell-3.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="slider-nav">
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-2.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-3.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
            </div>
            <h3>
              Общежитие Подольск
            </h3>
            <div class="tab_item__wrapper">
              <div class="tab_item__progress">
                <p>Занятых
                  номеров</p>
                <progress value="50" max="100"></progress>
                <p>
                  Свободных
                  номеров
                </p>

              </div>
              <div class="tab_item__price">
                <p>
                  От <strong>207</strong>
                  рублей в сутки!
                </p>
              </div>
            </div>
            <div class="tab_item__info">
              <p>
                Москва, Подольский район, деревня Девятское
                ул. Подмосковная 2А
              </p>
              <a href="tel:+78007077168">
                +7 (800) 707 - 71 - 68
              </a>
              <a href="tel:+74994994202">
                +7 (499) 499 - 42 - 02
              </a>
              <a href="mailto:podolsk@modern-hostel.com">
                podolsk@modern-hostel.com
              </a>
            </div>
          </div>
          <div class="tab_item">
            <div class="slider-for">
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-1.jpg">
                  <img src="img/hotell-1.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-3.jpg">
                  <img src="img/hotell-3.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="slider-nav">
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-2.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-3.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
            </div>
            <h3>
              Общежитие Одинцово
            </h3>
            <div class="tab_item__wrapper">
              <div class="tab_item__progress">
                <p>Занятых
                  номеров</p>
                <progress value="50" max="100"></progress>
                <p>
                  Свободных
                  номеров
                </p>

              </div>
              <div class="tab_item__price">
                <p>
                  От <strong>207</strong>
                  рублей в сутки!
                </p>
              </div>
            </div>
            <div class="tab_item__info">
              <p>
                Москва, Подольский район, деревня Девятское
                ул. Подмосковная 2А
              </p>
              <a href="tel:+78007077168">
                +7 (800) 707 - 71 - 68
              </a>
              <a href="tel:+74994994202">
                +7 (499) 499 - 42 - 02
              </a>
              <a href="mailto:podolsk@modern-hostel.com">
                podolsk@modern-hostel.com
              </a>
            </div>
          </div>
          <div class="tab_item">
            <div class="slider-for">
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-1.jpg">
                  <img src="img/hotell-1.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-3.jpg">
                  <img src="img/hotell-3.jpg" alt="">
                </a>
              </div>
              <div class="slider-for__slide">
                <a data-fancybox="gallery" href="img/hotell-2.jpg">
                  <img src="img/hotell-2.jpg" alt="">
                </a>
              </div>
            </div>
            <div class="slider-nav">
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-2.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-3.jpg" alt="">
              </div>
              <div class="slider-nav__slide">
                <img src="img/hotell-1.jpg" alt="">
              </div>
            </div>
            <h3>
              Общежитие Чехово
            </h3>
            <div class="tab_item__wrapper">
              <div class="tab_item__progress">
                <p>Занятых
                  номеров</p>
                <progress value="50" max="100"></progress>
                <p>
                  Свободных
                  номеров
                </p>

              </div>
              <div class="tab_item__price">
                <p>
                  От <strong>207</strong>
                  рублей в сутки!
                </p>
              </div>
            </div>
            <div class="tab_item__info">
              <p>
                Москва, Подольский район, деревня Девятское
                ул. Подмосковная 2А
              </p>
              <a href="tel:+78007077168">
                +7 (800) 707 - 71 - 68
              </a>
              <a href="tel:+74994994202">
                +7 (499) 499 - 42 - 02
              </a>
              <a href="mailto:podolsk@modern-hostel.com">
                podolsk@modern-hostel.com
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-12">
        <div class="button button__slider-screen">
          <a href="#" class="modal_open">Заказать дзвонок</a>
        </div>
      </div>
    </div>
  </div>
</section>
