<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="logo">
        <a href="index.html">
          <img src="img/logo.svg" alt="">
        </a>
      </div>
      <div class="social">
        <a href="https://vk.com/modern_hostel" target="_blank">
          {{mixins.icon('vk-logo')}}
        </a>
        <a href="https://ok.ru/feed" target="_blank">
          {{mixins.icon('facebook-logo')}}
        </a>
        <a href="https://twitter.com/modern_hostel" target="_blank">
          {{mixins.icon('twitter-logo')}}
        </a>
        <a href="https://www.instagram.com/modern_hostel" target="_blank">
          {{mixins.icon('instagram-logo')}}
        </a>
      </div>
      <div class="copyright">
        &#169; HOSTEL-STAHANOV, 2018
      </div>
      <div class="main-nav__contacts main-nav__contacts_footer">
        <ul>
          <li>
            <a href="tel:88007077168">
              8 (800) 707-71-68
            </a>
            <p>
              <strong>
               (по России бесплатно)
              </strong>
            </p>
          </li>
          <li>
            <a href="tel:+84994994202">
              8 (499) 499-42-02

            </a>
            <a href="#" class="modal_open">
              <strong>
                Заказать звонок
              </strong>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</footer>
