<section class="contacts">
  <div class="container">
    {% include "pages/index/_bread-crumbs.html" %}
    <div class="title title__blog-page">
      <h2>
        будем рады с вами
        познакомится
      </h2>
    </div>
    <div class="contacts__content">
      <p>
        В нашем хостеле к услугам гостей - более 20 комфортных номеров. Каждое спальное место оборудовано розеткой, лампой для чтения, индивидуальными полочками для вещей, запирающимися шкафчиками и шторками. Вы сможете уединиться даже в самом большом номере! Отличительная особенность нашего стильного хостела - просторные лаунж зоны для отдыха и большие открытые террасы с видом на Москву-реку. К Вашим услугам - две полностью оборудованные кухни, стиральные машины и полноценная коворкинг зона.
      </p>
      <p>
        Чувствуйте себя как дома.
      </p>
    </div>
  </div>
</section>
