<section class="blog">
  <div class="container">
    {% include "pages/index/_bread-crumbs.html" %}
    <div class="title title__blog">
      <h2>
        Блог нашего хостела
      </h2>
    </div>
    <div class="blog__wrapper">
      <div class="blog__content">
        <div class="blog__text">
          <div class="blog__text_wrapper">
            <time>
              20.12.2016
            </time>
            <a href="blog-page.html">
              <h3>
                Хостелы — бюджетная альтернатива гостиницам
              </h3>
            </a>
            <p>
              Путешествие по городам и странам — удовольствие
              затратное. Расходы на транспорт, питание, покупку
              сувениров и временное пристанище заметно опустошают
              кошелек туриста. Отличной альтернативой гостиничным
              комплексам становятся хостелы — бюджетный тип
              временного жилья для экономящих туристов.
            </p>
          </div>
          <div class="button button__blog">
            <a href="blog-page.html">
              Подробнее
            </a>
          </div>
        </div>

        <div class="blog__image">
          <a href="blog-page.html">
            <img src="img/blog-img-1.jpg" alt="">
          </a>
          <div class="blog__image_bg"></div>
        </div>
      </div>
      <div class="blog__content">
        <div class="blog__text">
          <div class="blog__text_wrapper">
            <time>
              08.12.2016
            </time>
            <a href="#">
              <h3>
                Хостел. Все что нужно знать
              </h3>
            </a>
            <p>
              Как интересно и незабываемо провести время
              в незнакомом городе? Что есть еще интересного
              помимо замечательных достопримечательностей в
              различных уголках мира? Забудьте о роскоши и
              дорогой технике – вам нужно отвлечься от всего
              мира и разделить времяпрепровождение с интересными
              людьми. Как? Хостел!
            </p>
          </div>
          <div class="button button__blog">
            <a href="#">
              Подробнее
            </a>
          </div>
        </div>

        <div class="blog__image">
          <a href="#">
            <img src="img/blog-img-2.jpg" alt="">
          </a>
          <div class="blog__image_bg"></div>
        </div>
      </div>
      <div class="blog__content">
        <div class="blog__text">
          <div class="blog__text_wrapper">
            <time>
              16.11.2016
            </time>
            <a href="#">
              <h3>
                Хостел: преимущества и недостатки
              </h3>
            </a>
            <p>
              Не так давно в туристической сфере
              появилось такое явление, как «хостел».
              И сразу стал заманчивым предложением в
              качестве места проживания во время отпуска.
              Ведь цены хостелов значительно ниже
              цен мини-гостиниц.
            </p>
          </div>
          <div class="button button__blog">
            <a href="#">
              Подробнее
            </a>
          </div>
        </div>

        <div class="blog__image">
          <a href="#">
            <img src="img/blog-img-3.jpg" alt="">
          </a>
          <div class="blog__image_bg"></div>
        </div>
      </div>
      <div class="blog__content">
        <div class="blog__text">
          <div class="blog__text_wrapper">
            <time>
              03.11.2016
            </time>
            <a href="#">
              <h3>
                Общежития для рабочих в Москве
              </h3>
            </a>
            <p>
              ModernHostel предлагает снять общежитие
              для рабочих в Москве по доступной цене.
              Услуга востребована среди тех, кто пребывает
              в столице в командировке, а также будет
              выгодна для руководителей организаций,
              желающих разместить своих рабочих в
              достойных условиях.
            </p>
          </div>
          <div class="button button__blog">
            <a href="#">
              Подробнее
            </a>
          </div>
        </div>

        <div class="blog__image">
          <a href="#">
            <img src="img/blog-img-4.jpg" alt="">
          </a>
          <div class="blog__image_bg"></div>
        </div>
      </div>
      <div class="blog__more">
        <a href="#">Показать еще</a>
      </div>
    </div>
  </div>
</section>
