.icon-email-filled-closed-envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-gps {
  width: 1em;
  height: 1em;
  fill: url(#a);
}
.icon-instagram-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-paint-roller {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-police-badge {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-sofa {
  width: 1.54em;
  height: 1em;
  fill: initial;
}
.icon-tv {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vk-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-wifi {
  width: 1em;
  height: 1em;
  fill: initial;
}
