<section class="faq-screen">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <h2>
            Часто задаваемые
            вопросы
          </h2>
        </div>
        <div class="faq-screen__drop">

              <div class="faq-screen__head active">
                Как добраться на авто из Москвы?
              </div>
              <div class="faq-screen__toggle faq-screen__toggle_active">
                Двигайтесь по Киевскому шоссе в сторону области,
                до поворота на аэропорт "Внуково". Далее по Внуковскому
                шоссе прямо через круг над Боровским шоссе не доезжая
                20 метров до ЖД переезда у Минского шоссе, поворот
                налево в сторону деревни Внуково, через 200 метров
                по левую сторону вы увидите темнокоричневый забор
                и вход в наше общежитие.Или по Минскому шоссе в
                область до Лесного городка, далее развернуться и
                двигаться в сторону Москвы. В районе деревни Внуково
                поверните направо, далее через ЖД переезд и через
                200 метров по левую сторону вы увидите темнокоричневый
                забор и вход в наше общежитие
              </div>

              <div class="faq-screen__head">
                Как добраться от Одинцово?
              </div>
              <div class="faq-screen__toggle ">
                Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
                обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
                Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
                на сайте.
              </div>

              <div class="faq-screen__head">
                Как добраться от аэропорта Внуково?
              </div>
              <div class="faq-screen__toggle ">
                Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
                обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
                Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
                на сайте.
              </div>

              <div class="faq-screen__head">
                Как добраться от города Московский?
              </div>
              <div class="faq-screen__toggle ">
                Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
                обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
                Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
                на сайте.
              </div>

              <div class="faq-screen__head">
                Как добраться от метро Юго-Западная?
              </div>
              <div class="faq-screen__toggle ">
                Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
                обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
                Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
                на сайте.
              </div>

              <div class="faq-screen__head">
                Возможно ли проживание иностранных граждан?
              </div>
              <div class="faq-screen__toggle ">
                Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
                обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
                Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
                на сайте.
              </div>

              <div class="faq-screen__head">
                Как узнать цену за проживание?
              </div>
              <div class="faq-screen__toggle ">
                Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
                обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
                Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
                на сайте.
              </div>

              <div class="faq-screen__head">
                Сколько будет человек в комнате?
              </div>
              <div class="faq-screen__toggle ">
                Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
                обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
                Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
                на сайте.
              </div>

              <div class="faq-screen__head">
                Бонусы!
              </div>
              <div class="faq-screen__toggle ">
                Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
                обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
                Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
                на сайте.
              </div>

              <div class="faq-screen__head">
                Способы оплаты
              </div>
              <div class="faq-screen__toggle ">
                Чтобы снять недорогое общежитие для рабочих в Москве, звоните: +7(499)270-10-27 или закажите
                обратный звонок на нашем ресурсе. Бронирование мест выполняется нашим персоналом круглосуточно.
                Также вы всегда можете рассчитать стоимость проживания у нас, воспользовавшись удобной формой
                на сайте.
              </div>
        </div>
      </div>
    </div>
  </div>
</section>
