<section class="main-screen">
  <div class="container">
    <div class="main-screen__wrapper">
      <div class="main-screen__title">
        <h1>
          Общежитие
          и хостел
        </h1>
        <strong>
          в районе Внуково
        </strong>
      </div>
      <div class="main-screen__price">
        <p>
          От
          <strong>
            189</strong>
          рублей в сутки!
        </p>
      </div>
    </div>
    <div class="button button__main-screen">
      <a href="#" class="modal_open">
        Оставить заявку
      </a>
    </div>
  </div>
</section>
