<section class="reviews">
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <div class="title title__reviews">
          <h2>
            Отзывы о нас
          </h2>
        </div>
        <div class="reviews__slider">
          <div class="reviews__slide">
            <p>
              Добрый день, меня зовут Альберт.
              Проживал в общежитии порядка 2-3
              месяцев, все хорошо, нет очереди
              в душ и на кухне, единственное,
              что в этом общежитии не много
              накаляет, то что нельзя пить и
              находится с перегаром, постоянно
              выгоняют алкоголиков. Персонал к
              этому очень строг, мне тоже доставалось.
              В целом все чисто и что удивительно,
              в этом общежитии не воняет как в
              других. Спасибо!
            </p>
            <div class="reviews__author">
              <img src="img/author-img-1.jpg" alt="">
              <div class="reviews__author_name">
                <p>Альберт Петров</p>
                <strong>
                  Проживал 3 месяца
                </strong>
              </div>
            </div>
          </div>
          <div class="reviews__slide">
            <p>
              Добрый день, меня зовут Альберт.
              Проживал в общежитии порядка 2-3
              месяцев, все хорошо, нет очереди
              в душ и на кухне, единственное,
              что в этом общежитии не много
              накаляет, то что нельзя пить и
              находится с перегаром, постоянно
              выгоняют алкоголиков. Персонал к
              этому очень строг, мне тоже доставалось.
              В целом все чисто и что удивительно,
              в этом общежитии не воняет как в
              других. Спасибо!
            </p>
            <div class="reviews__author">
              <img src="img/author-img-1.jpg" alt="">
              <div class="reviews__author_name">
                <p>Альберт Петров</p>
                <strong>
                  Проживал 3 месяца
                </strong>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div id="reviews" class="reviews__befor-after">
          <img src="img/re2.jpg" alt="">
          <img src="img/re1.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
